<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">CrowdFunder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">


          <li <%= yield(:li_class_hm)%>>
              <%= link_to "Home", :root %>
            </li>

            <li <%= yield(:li_class_pj)%>>
            <%= link_to 'Projects', :projects %>
            </li>




          <% if current_user %>

          <li class="<%= 'active' if current_page? new_user_path %>">
          <%= link_to "Logout", logout_path %>
          </li>

          <% else %>

           <li class="<%= 'active' if current_page? new_user_path %>">
            <%= link_to 'Sign Up', new_user_path %>
          </li>


          <% end %>




      </div>
    </div>
  </div>
</div>

     <br><br>

</head>
<body>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= yield %> 

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Sign up", new_user_path %> or
  <%= link_to "log in", login_path %>.
<% end %>

</body>
</html>
